    @font-face {
        font-family: 'dosis';
        src: url("../assets/Dosis-Regular.ttf") format("truetype");
    }
    
    * {
        font-family: 'dosis';
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #EEF0F2;
        text-align: justify;
        background-color: #07ce9c;
        height: 100%;
    }